<div class="row col-md-offset-5 col-sm-offset-5 col-xs-offset-3">
  <div class="col-md-8">
    <h4><i class="fa fa-tag">&nbsp;</i>{{product.name}}</h4>
  </div>
</div>

<form class="form-horizontal col-md-offset-2 col-md-10" (click)="false" ngNoForm>

<!-- <div class="form-inline form-group">
<label for="inputEmail3" class="col-sm-2 control-label text-right">SKU</label>
<input type="text" class="form-control col-sm-7" id="inputProductName" placeholder="Name" [(ngModel)]="product.name" name="name"> &nbsp;
</div> -->
<div class="form-inline form-group">
<label for="inputEmail3" class="col-sm-2 control-label text-right">Title</label>
<input type="text" class="form-control col-sm-7" placeholder="Name" [(ngModel)]="product.name" name="name"> &nbsp;
</div>
<div class="form-inline form-group">
    <label for="inputEmail3" class="col-sm-2 control-label text-right">SKU or Barcode</label>
    <input type="text" class="form-control col-sm-7" placeholder="SKU or Barcode" [(ngModel)]="product.sku" />
</div>
<div class="form-inline form-group">
        <label for="inputEmail3" class="col-sm-2 control-label text-right">Label</label>
        <label class="form-control" (click)="product.isfeatured=!product.isfeatured">
            <i class="fa fa-check text-success" *ngIf="product.isfeatured">&nbsp;</i> Featured
        </label>&nbsp;&nbsp;
        <label (click)="product.isnew=!product.isnew" class="form-control">
            <i class="fa fa-check text-success" *ngIf="product.isnew">&nbsp;</i> New
        </label>&nbsp;&nbsp;
        <label (click)="product.isbestseller=!product.isbestseller" class="form-control">
          <i class="fa fa-check text-success" *ngIf="product.isbestseller">&nbsp;</i> Best Seller
        </label>&nbsp;&nbsp;
      <label class="form-control" (click)="product.isdeal=!product.isdeal">
          <i class="fa fa-check text-success" *ngIf="product.isdeal">&nbsp;</i> Deal
      </label>&nbsp;&nbsp;
      <label (click)="product.isale=!product.isale" class="form-control">
          <i class="fa fa-check text-success" *ngIf="product.isale">&nbsp;</i> Sale
      </label>
</div>


<div class="form-inline form-group">
  <label class="col-sm-2 control-label">Gender</label> &nbsp;
  <label class="form-control" (click)="product.gender='m'">
      <i class="fa fa-check text-success" *ngIf="product.gender=='m'">&nbsp;</i>&nbsp;<i class="fa fa-male">&nbsp;</i>Male
  </label>&nbsp;&nbsp;
  <label class="form-control" (click)="product.gender='f'">
      <i class="fa fa-check text-success" *ngIf="product.gender=='f'">&nbsp;</i>&nbsp;<i class="fa fa-female">&nbsp;</i>Female
  </label>&nbsp;&nbsp;
  <label class="form-control" (click)="product.gender='u'">
      <i class="fa fa-check text-success" *ngIf="product.gender=='u'">&nbsp;</i>&nbsp;<i class="fa fa-users">&nbsp;</i>Unisex
  </label>
</div>

<div class="form-inline form-group">
  <label class="col-sm-2 control-label">Age</label> &nbsp;
  <label class="form-control" (click)="product.agegroup='n'">
      <i class="fa fa-check text-success" *ngIf="product.agegroup=='n'">&nbsp;</i>&nbsp;Newborn
  </label>&nbsp;&nbsp;
  <label class="form-control" (click)="product.agegroup='i'">
      <i class="fa fa-check text-success" *ngIf="product.agegroup=='i'">&nbsp;</i>&nbsp;Infant
  </label>&nbsp;&nbsp;
  <label class="form-control" (click)="product.agegroup='k'">
      <i class="fa fa-check text-success" *ngIf="product.agegroup=='k'">&nbsp;</i>&nbsp;Kids
  </label>&nbsp;&nbsp;
  <label class="form-control" (click)="product.agegroup='t'">
      <i class="fa fa-check text-success" *ngIf="product.agegroup=='t'">&nbsp;</i>&nbsp;Teen
  </label>&nbsp;&nbsp;
  <label class="form-control" (click)="product.agegroup='a'">
      <i class="fa fa-check text-success" *ngIf="product.agegroup=='a'">&nbsp;</i>&nbsp;Adult
  </label>&nbsp;&nbsp;
  <label class="form-control" (click)="product.agegroup='s'">
      <i class="fa fa-check text-success" *ngIf="product.agegroup=='s'">&nbsp;</i>&nbsp;Seniors
  </label>&nbsp;&nbsp;
</div>

<div class="form-inline form-group">
  <label class="col-sm-2 control-label">Category</label>
  <!-- <select class="col-sm-4 form-control" [(ngModel)]="product.category">
      <option *ngFor="let category of categories ; let i = index" [(value)]="categories[i]">{{category}}</option>
  </select>&nbsp; -->
  <input auto-complete type="text" class="form-control" id="inputCategory" placeholder="New Category" [(ngModel)]="product.category" [source]= "categories" no-match-found-text="New Category">
</div>

<div class="form-inline form-group">
  <label class="col-sm-2 control-label">Subcategory</label> &nbsp;
  <!-- <select class="col-sm-4 form-control" [(ngModel)]="product.subcategory">
      <option *ngFor="let subcategory of subcategories ; let i = index" [(value)]="subcategories[i]">{{subcategory}}</option>
  </select>&nbsp; -->
  <input auto-complete type="text" class="form-control" id="inputSubcategory" placeholder="New Subcategory" [(ngModel)]="product.subcategory" [source]= "subcategories" no-match-found-text="New Subcategory">&nbsp;
</div>

<!-- attributes -->
<div class="form-inline form-group">
  <label class="col-sm-2 control-label">Fabric</label> &nbsp;
  <!-- <select class="col-sm-4 form-control" [(ngModel)]="product.materialtype">
      <option *ngFor="let material of materials ; let i = index" [(value)]="materials[i]">{{material}}</option>
  </select>&nbsp; -->
  <input auto-complete type="text" class="form-control" id="inputFabric" placeholder="New Fabric (denim, cotton, slik ...)" [(ngModel)]="product.materialtype" [source]= "materials" no-match-found-text="New Fabric Type"/>&nbsp;
</div>

<div class="form-inline form-group">
<label for="inputEmail3" class="col-sm-2 control-label text-right">Manufacture</label>
<input type="text" class="form-control col-sm-7" id="inputManufacture" placeholder="Name" [(ngModel)]="product.manufacturename" name="name"> &nbsp;
</div>

<div class="form-inline form-group">
<label for="inputEmail3" class="col-sm-2 control-label text-right">Model</label>
<input type="text" class="form-control col-sm-7" id="inputModel" placeholder="Name" [(ngModel)]="product.modelno" name="name"> &nbsp;
</div>

<div class="form-inline form-group">
<label for="inputPassword3" class="col-sm-2 control-label">Short Description<sup>*</sup></label>
<textarea class="form-control col-sm-10" id="inputSdesc" rows="3" placeholder="Optional" [(ngModel)]="product.shortdesc" name="shortdesc"></textarea>
</div> 

<div class="form-inline form-group align-text-top">
<label for="inputPassword3" class="col-sm-2 control-label align-text-top">Product Description<sup>*</sup></label>
<textarea class="form-control col-sm-10" id="inputPdesc" rows="10" placeholder="Optional" [(ngModel)]="product.longdesc"></textarea>
</div>    

<!-- <div class="form-inline form-group">
<label for="inputPassword3" class="col-sm-2 control-label">Tags<sup>*</sup></label>
<textarea class="form-control col-sm-10" id="inputTags" rows="3" placeholder="Optional helps in product search" [(ngModel)]="product.longdesc"></textarea>
</div>  -->

<!-- <div class="form-inline form-group">
<label for="inputPassword3" class="col-sm-2 control-label">Color<sup>*</sup></label>
<div class="col-sm-10">
  <button class="btn btn-info"> Clear color selections </button>
</div>
</div> -->
<!-- <div class="form-inline form-group">
<label for="inputPassword3" class="col-sm-2 control-label">&nbsp;</label>
<div class="col-sm-10">
<div *ngFor="let colors of colorpalatte;">
  <div class="col-xs-1">
    <span class="btn" *ngFor="let color of colors" style="margin:0px -2px 0px 0px;border-radius:0px" [style.backgroundColor]="color" ><input type="checkbox" name="colors" /></span>
  </div>
</div>
</div>
</div> -->

<div class="form-inline form-group">
  <label class="col-sm-2">&nbsp;</label>
  <div class="col-sm-offset-2 col-sm-10">
    <p class="text-muted"> * Fields are optional </p>
    <button type="button" class="btn btn-success" (click)="update()">Save</button>
    <a href class="btn btn-warning" [routerLink]="productLink"> Cancel </a>
  </div>
</div>
</form>
<!---  Color palate -->
